:root {
    --black: #111111;
    --white: #eeeeee;
    --gray: #bbbbbb;
}

* {
    user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "IBM Plex Mono";
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url(./font/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}

html {
    background: var(--black);
}

body {
    margin: 0;
    scrollbar-width: none;
    background: radial-gradient(ellipse at center, #222222 0%, var(--black) 100%);
}

::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: linear-gradient(to bottom, #111111 0%, transparent 100%);
    position: fixed;
    padding: 1rem;
}

header a,
footer a {
    padding: 0.5rem;
}

img {
    width: 100%;
    pointer-events: none;
}

main {
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    min-height: 100vh;
    margin: auto;
    gap: 4rem;
}

.section {
    display: flex;
    flex-direction: column;
}

footer {
    position: fixed;
    background: linear-gradient(to top, #111111 0%, transparent 100%);
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}

h5 {
    margin: 0;
    color: var(--gray);
}

.grid {
    display: grid;
    width: 100%;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.grid img {
    aspect-ratio: 1 / 1.5;
    object-fit: cover;
}

h3,
h2 {
    color: var(--white);
}

p,
li {
    font-size: 12px;
    width: 100%;
    color: var(--gray);
    text-align: justify;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
    font-size: 12px;
    color: var(--white);
}

.active {
    text-decoration: line-through;
}

#signature {
    width: 100%;
    max-width: 20rem;
    box-sizing: content-box;
    padding: 2rem;
    height: fit-content;
}

svg {
    overflow: visible;
}

path {
    fill: none;
    stroke: var(--white);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@media all and (max-width: 1024px) {
    main {
        width: 100vw;
    }
}
