:root {
    --black: #111111;
    --white: #eeeeee;
    --gray: #aaaaaa;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url(./font/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}

/* Base */
* {
    box-sizing: border-box;
    -webkit-user-select: none;
    scrollbar-width: none;
    user-select: none;
}

html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
    background: var(--black);
}

body {
    margin: 0;
    scrollbar-width: none;
    background: transparent;
    font-family: "IBM Plex Mono", monospace;
    font-size: 12px;
    line-height: 1.5;
    color: var(--gray);
}

body::before {
    -webkit-mask-image: radial-gradient(ellipse at center, transparent 0%, var(--black) 100%);
    mask-image: radial-gradient(ellipse at center, transparent 0%, var(--black) 100%);
    content: "";
    position: fixed;
    inset: 0;
    background-image: linear-gradient(#aaaaaa20 1px, transparent 1px), linear-gradient(90deg, #aaaaaa20 1px, transparent 1px);
    background-size: 10rem 10rem;
    z-index: -1;
    pointer-events: none;
}

/* Typography */
h3 {
    margin: 0;
    color: var(--white);
}

h5 {
    margin: 0;
    color: var(--gray);
}

p {
    text-align: justify;
}

a {
    color: var(--white);
    text-decoration: none;
}

/* Layout */
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    background: linear-gradient(to bottom, var(--black) 0%, transparent 100%);
}

header a,
footer a {
    padding: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 4rem;
    width: 50vw;
    min-height: 100dvh;
    margin: auto;
    padding: 5rem 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    background: linear-gradient(to top, var(--black) 0%, transparent 100%);
}

/* Components */
.section {
    display: flex;
    flex-direction: column;
}

.active {
    text-decoration: line-through;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
}

.grid img {
    aspect-ratio: 1 / 1.5;
    object-fit: cover;
}

img {
    width: 100%;
    pointer-events: none;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 5px;
}

/* Signature */
#signature {
    box-sizing: content-box;
    max-width: 20rem;
    width: 100%;
    margin: auto;
    padding: 2rem;
}

svg {
    overflow: visible;
}

path {
    fill: none;
    stroke: var(--white);
    stroke-width: 15;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* Animations */
@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

/* Responsive */
@media (max-width: 1024px) {
    main {
        width: 100vw;
    }
    body::before {
        background-size: 8rem 8rem;
    }
}
